<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jakebarnby.camdroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name="com.jakebarnby.camdroid.camera2.view.Camera2Activity" />
    </application>
</manifest>
